* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #f8f9fa;
  color: #212529;
  line-height: 1.6;
}

header {
  background-color: #00796b;
  padding: 1rem 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 2rem;
}

nav a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  transition: color 0.3s ease;
}

nav a:hover {
  color: #ffe082;
}

main {
  padding: 4rem 2rem;
  text-align: center;
}

#inicio h1 {
  font-size: 2.5rem;
  color: #00796b;
  margin-bottom: 1rem;
}

#inicio p {
  font-size: 1.2rem;
  color: #555;
}

footer {
  background-color: #343a40;
  color: white;
  text-align: center;
  padding: 1rem 0;
  margin-top: 2rem;
}


@media (max-width: 768px) {
  nav ul {
      flex-direction: column;
      gap: 1rem;
  }

  #inicio h1 {
      font-size: 2rem;
  }

  #inicio p {
      font-size: 1rem;
  }
}
